html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding-top: 3rem;
}

.robot {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  position: absolute;
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  bottom: 53px;
  position: absolute;
  width: 125px;
}

.robot-head-left {
  left: 35px;
}

.robot-head-right {
  left: 160px;
}
